* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  max-width: 375px;
  margin-top: 2rem;
  /* border:2px solid black; */
  border-radius: 10px;
  overflow: hidden;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 2rem;
}

.sedan img {
  margin-bottom: 1.5rem;
}

.sedan h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1.5rem;
}

.sedan p {
  font-family: 'Lexend Deca', sans-serif;
  font-size:15px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1rem;
}

.sedan button {
  border: none;
  padding: 1rem  2rem;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom:1.5rem;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2rem;
}

.suv img {
  margin-bottom: 1.5rem;
}

.suv h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1.5rem;
}

.suv p {
  font-family: 'Lexend Deca', sans-serif;
  font-size:15px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1rem;
}

.suv button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom:1.5rem;
}

.lux {
  background-color: hsl(179, 100%, 13%);
  padding: 2rem;
}

.lux img {
  margin-bottom: 1.5rem;
}

.lux h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1.5rem;
}

.lux p {
  font-family: 'Lexend Deca', sans-serif;
  font-size:15px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 1rem;
}

.lux button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom:1.5rem;
}
button:hover{
  background-color: hsla(0, 0%, 0%, 0);
  border:2px solid hsl(0, 0%, 95%);
  color:hsl(0, 0%, 95%);
  cursor:pointer;
}
.attribution{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;

}
/***MEDIA QUERIES***/
/***MEDIA QUERIES***/
@media(min-width:960px){
.container{
  display: flex;
  flex-direction: row;
  width:850px;
  max-width: 850px;
}
.sedan p {
  width:80%;
  margin-bottom: 4rem;
}
.suv p {
  width:80%;
  margin-bottom: 4rem;
}
.lux p {
  width:80%;
  margin-bottom: 4rem;
}
}
